@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #9327FF;
    --color-primary-20: rgba(147, 39, 255, 0.20);
    --color-primary-10: rgba(147, 39, 255, 0.10);
    --color-night-blue: #000212;
}

:root[data-mode="dark"] {
    --color-primary: #601DAA;
    --color-primary-20: rgba(96, 29, 170, 0.20);
    --color-primary-10: rgba(96, 29, 170, 0.10);
}

body {
    @apply text-black dark:text-white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    @apply bg-white;
    @apply dark:bg-night-blue;
    margin: 0;
}
