@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #9327FF;
  --color-primary-20: rgba(147, 39, 255, 0.20);
  --color-primary-10: rgba(147, 39, 255, 0.10);
  --color-night-blue: #000212;
  -webkit-font-smoothing: antialiased;
  --color-bg: #EFF1FF;
  --color-text: #000;
}

@mixin darkVars {
  --color-primary: #601DAA;
  --color-primary-20: rgba(96, 29, 170, 0.20);
  --color-primary-10: rgba(96, 29, 170, 0.10);
  --color-bg: #000212;
  --color-text: white;
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    @include darkVars;
  }
}

:root.dark {
  @include darkVars;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background: var(--color-bg);
  margin: 0;
  color: var(--color-text);
}

