@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #8427E0;
  --color-primary-20: rgba(147, 39, 255, 0.20);
  --color-primary-10: rgba(147, 39, 255, 0.10);
  --color-night-blue: #000212;
  -webkit-font-smoothing: antialiased;
  --color-bg: #EFF1FF;
  --color-text: #000;
  --color-fill-text: #fff;
  --background: #EFF1FF;
  --foreground: #000;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: #E7F5FF;
  --secondary-foreground: #333;
  --muted: #F4F5F7;
  --muted-foreground: #333;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
}

@mixin darkVars {
  --color-primary: #601DAA;
  --color-primary-20: rgba(96, 29, 170, 0.20);
  --color-primary-10: rgba(96, 29, 170, 0.10);
  --color-bg: #000212;
  --color-text: white;
  --color-fill-text: #000;
}

//@media (prefers-color-scheme: dark) {
//  html:not(.light) {
//    @include darkVars;
//  }
//}

:root.dark {
  @include darkVars;
}

body {
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 14px;
  margin: 0;
  color: var(--color-text);
  background: linear-gradient(to right, #deddf8 0%, rgb(223, 223, 252) 13%, rgb(238, 238, 253) 40%, #edecfc 60%, #EEECFD 100%) fixed;
  overscroll-behavior: none;
}

