@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'node_modules/nprogress/nprogress.css';

:root {
    --color-primary: #9327FF;
    --color-primary-100: #E1CDFF;
    --color-bg: #FFF;
    --color-primary-hover: rgba(147, 39, 255, 0.05);
    --color-bg-hover: #EEF1FF;
    --color-bg-footer: #000;
    --color-bg-100: #E5EDFF;
    --color-bg-200: #F4F7FF;
    --color-bg-300: #EFF1F8;
    --color-primary-divider: rgba(147, 39, 255, 0.10);

    --color-text: #000;
    --color-icon: #545454;
    --color-text-gray: #CCCFD9;
    --color-text-on-fill: #FFFFFF;
    --color-secondary: rgba(255, 255, 255, 0.4);

    --color-github-star-badge: #000;
    --color-github-star-text: #fff;
    --color-github-star-border: #fff;
    --color-github-star-border-scrolled: #f2f2f2;
    --color-menu-drawer: #F4F7FF;
    --color-footer-switch-mode-bg: rgba(156, 156, 156, 0.5);
    --color-character-bg: rgba(255, 255, 255, 0.5);

    --color-board-contained: #8427E0;
    --color-board-bg: #E8E0FF;
    --color-board-border: rgba(132, 39, 224, 0.3);
    --color-table-contained: #00B5FF;
    --color-table-bg: #D2F2FF;
    --color-table-border: #00C8FF;
    --color-calendar-contained: #FB006D;
    --color-calendar-bg: #FFE1EE;
    --color-calendar-border: #FB006D;

    --button-primary-contained-background: var(--color-primary);
    --button-primary-contained-text: var(--color-text-on-fill);
    --button-primary-contained-border: var(--color-primary);
    --button-primary-contained-hover-background: #8122e0;
    --button-primary-contained-hover-text: #fff;
    --button-secondary-contained-background: var(--color-secondary);
    --button-secondary-contained-text: var(--color-text);
    --button-secondary-contained-border: #fff;
    --button-secondary-contained-hover-background: rgba(255, 255, 255, 1);
    --button-secondary-contained-hover-text: var(--color-text);
    --button-primary-outlined-background: transparent;
    --button-primary-outlined-border: var(--color-primary);
    --button-primary-outlined-text: var(--color-primary);
    --button-primary-outlined-hover-background: var(--color-primary);
    --button-primary-outlined-hover-text: #fff;
    --button-primary-text-background: transparent;
    --button-primary-text-border: transparent;
    --button-primary-text-text: var(--color-primary);
    --button-primary-text-hover-background: rgba(147, 39, 255, 0.05);
    --button-secondary-outlined-background: transparent;
    --button-secondary-outlined-border: var(--color-text);
    --button-secondary-outlined-text: var(--color-text);
    --button-secondary-outlined-hover-background: rgba(255, 255, 255, 1);
    --button-secondary-text-background: transparent;
    --button-secondary-text-border: transparent;
    --button-secondary-text-text: var(--color-text);
    --button-secondary-text-hover-background: rgba(255, 255, 255, 1);

    --linear-gradient-100: linear-gradient(201.25deg, #EDECFC -1.12%, #EFF1FF 33.09%, #EEECFD 45.19%, #FAFAFF 68.66%, #FDFCFF 76.51%, #FFFFFF 91.89%);
    --linear-gradient-200: linear-gradient(201.25deg, #EDECFC -1.12%, #EFF1FF 33.09%, #EEECFD 45.19%, #FAFAFF 68.66%, #FDFCFF 76.51%, #FFFFFF 91.89%);
    --linear-gradient-300: linear-gradient(200.16deg, #DEE7FF -38.92%, rgba(232, 224, 255, 0) 86.57%);
    --linear-gradient-400: linear-gradient(200.16deg, rgba(255, 206, 0, 0.2) -38.92%, rgba(232, 224, 255, 0) 86.57%);
    --linear-gradient-500: linear-gradient(200.16deg, rgba(237, 240, 255, 0.6) -38.92%, rgba(232, 224, 255, 0) 86.57%);
    --linear-gradient-600: linear-gradient(200.16deg, rgba(147, 39, 255, 0.1) -38.92%, rgba(232, 224, 255, 0) 86.57%);
    --linear-gradient-700: linear-gradient(200.93deg, #FFFFFF 10.63%, #F8F9FF 45.84%, #FAFAFF 59.67%, #EDECFC 98.22%);
    --linear-gradient-800: linear-gradient(192.24deg, #EDECFC -21.69%, #F3F7FE 16.86%, #F8F9FF 30.5%, #FAFAFF 56.96%, #F5F2FF 74.04%, #FFFFFF 83.14%);
    --linear-gradient-blur: linear-gradient(179.87deg, rgba(244, 245, 253, 0) 0.12%, #F4F5FD 99.88%);
    --linear-gradient-blur-100: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 56.77%);
    --shadow-board-contained: 0px 4px 8px 0px #8427E033;
    --shadow-table-contained: 0px 4px 8px 0px #279DE033;
    --shadow-calendar-contained: 0px 4px 8px 0px #E0276A33;

    --card-border-purple: rgba(147, 39, 255, 0.10);
    --card-border-gray: #D5D7DE99;
    --card-border-yellow: #FFCE0033;

    --card-bg-purple: var(--linear-gradient-600);
    --card-bg-gray: var(--linear-gradient-500);
    --card-bg-yellow: var(--linear-gradient-400);

    --download-bg-1: #E2E7FF;
    --download-bg-2: linear-gradient(201.25deg, #EDECFC -1.12%, #EFF1FF 33.09%, #EEECFD 45.19%, #FAFAFF 68.66%, #FDFCFF 76.51%, #FFFFFF 91.89%);
    --download-bg-3: #fff;
    --about-us-bg: linear-gradient(201.25deg, #EDECFC -1.12%, #F3F7FE 26.1%, #FFFFFF 38.45%, #FAFAFF 68.66%, #FDFCFF 76.51%, #F7F7FF 91.89%);
    --about-us-bg-1: linear-gradient(203.11deg, #DEE7FF -37.77%, rgba(232, 224, 255, 0) 60%, #DEE7FF 194.76%);
    --about-us-bg-1-1: rgb(233, 229, 255);
    --about-us-bg-2: linear-gradient(203.11deg, #F7F6FF -37.77%, rgba(232, 224, 255, 0) 60%, #DEE7FF 194.76%);
    --about-us-card-bg-1: linear-gradient(90deg, rgba(147, 145, 252, 0.2) 18.92%, rgba(232, 224, 255, 0) 86.57%);
    --about-us-card-bg-2: linear-gradient(90deg, rgba(74, 29, 255, 0.2) 18.92%, rgba(232, 224, 255, 0) 86.57%);
    --about-us-card-bg-3: linear-gradient(90deg, rgba(255, 206, 0, 0.2) 18.92%, rgba(232, 224, 255, 0) 86.57%);
    --about-us-values-bg-1: linear-gradient(90deg, rgba(147, 145, 252, 0.2) 18.92%, rgba(232, 224, 255, 0) 86.57%);
    --about-us-values-bg-2: #fff;
    --about-us-values-bg-3: linear-gradient(90deg, rgba(255, 206, 0, 0.2) 18.92%, rgba(232, 224, 255, 0) 86.57%);
    --about-us-values-bg-4: linear-gradient(90deg, rgba(251, 0, 109, 0.2) 18.92%, rgba(232, 224, 255, 0) 86.57%);
    --about-us-values-bg-5: linear-gradient(90deg, rgba(0, 181, 255, 0.3) 18.92%, rgba(232, 224, 255, 0) 86.57%);
    --about-us-values-border-1: #9327FF33;
    --about-us-values-border-2: #D5D7DE99;
    --about-us-values-border-3: #FFCE004D;
    --about-us-values-border-4: #FB006D4D;
    --about-us-values-border-5: #00B5FF4D;
    --contact-bg: linear-gradient(201.25deg, #EDECFC -1.12%, #EFF1FF 33.09%, #EEECFD 45.19%, #FAFAFF 68.66%, #FDFCFF 76.51%, #FFFFFF 91.89%);
    --blocks-bg: #F0EFFD;
    --contributors-bg:#F0EFFD;
    --contributor-avatar-border-color: #0000001A;
}

:root[dark-mode=true] {
    --color-primary: #9327FF;
}


html {
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-bg);
    overflow-x: hidden;
}

.logo {
    scale: 1.5
}

.arrow-badge {
    position: relative;
    display: inline-block;
    padding: 2px 6px;
    background-color: var(--color-github-star-badge);
    color: var(--color-github-star-text);
    border-radius: 0.45rem;
    font-size: 14px;
}

.arrow-badge::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    border-width: 3px;
    border-style: solid;
    border-color: var(--color-github-star-badge);
}


.switch-mode .MuiSwitch-switchBase {
    padding: 4px;
}

.switch-mode .Mui-checked+.MuiSwitch-track {
    background: var(--color-footer-switch-mode-bg);
}

.primary-underline {
    position: relative;
}

.primary-underline:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: no-repeat center;
}

.page-title {
    @apply max-sm:text-[32px] max-sm:tracking-tight max-sm:leading-[40px] max-sm:px-6 md:px-8 md:text-[80px]  md:tracking-tighter  md:leading-[84px] text-center font-medium
}

.card {
    background: var(--linear-gradient-100);
    @apply flex flex-col justify-between  items-center rounded-2xl border-[var(--color-primary-divider)] border overflow-hidden;
}

.blur-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--linear-gradient-blur);
    @apply md:h-[230px] max-sm:h-[94px]
}

.key-point {
    position: relative;
}
.key-point:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--color-primary);
}
