
.about {
  @apply flex w-full flex-col items-center pt-[220px];
  @apply max-sm:pt-[169px];
  background: linear-gradient(201deg, #EDECFC -1.12%, #F3F7FE 26.1%, #FFF 38.45%, #FAFAFF 68.66%, #FDFCFF 76.51%, #F7F6FF 91.89%);
  transform: translate3d(0, 0, 0);

  .mission-panel {
    @apply flex flex-col items-center w-full overflow-hidden;
    .title {
      @apply z-10 w-full tracking-[-4px] text-[74px] leading-[105%] mx-[30px] font-medium mb-[240px] text-center relative max-w-[989px];
      @apply max-lg:text-[60px];
      @apply max-sm:text-[32px] max-sm:leading-[115%] max-sm:tracking-[-0.96px] max-sm:mx-[20px] max-sm:w-full max-sm:mb-[140px];
      .line {
        @apply absolute top-[79px] left-[140px] w-[313px] h-[19px];
        @apply max-sm:top-[32px] max-sm:left-[120px] max-sm:w-[150px] max-sm:h-[10px];
      }
    }

    .image {
      @apply mx-[80px] w-[90%] relative mb-[156px];
      @apply max-sm:mx-[20px] max-sm:mb-[120px];
      .ellipse {
        @apply bg-primary pointer-events-none absolute h-screen w-1/2 rotate-[-51deg] transform translate-z-0 rounded-full opacity-10 blur-[150px];
      }

      .icon {
        @apply absolute aspect-auto max-w-[200px];
        &.icon-0 {
          @apply right-0.5 top-[-40px] w-[15%];
          @apply max-sm:top-[-50%] max-sm:w-[80px];
        }

        &.icon-1 {
          @apply left-[10%] top-[50%] w-[15%];
          @apply max-sm:w-[80px];
        }
      }
    }

    .missions {
      @apply flex flex-col gap-[30px] px-[100px] w-full mb-[200px];
      @apply max-sm:px-[20px] max-sm:mb-[80px];
      .mission-item {
        @apply border w-full overflow-hidden border-primary-20 bg-white rounded-[18px] flex flex-row items-center justify-between bg-no-repeat bg-left-bottom bg-cover bg-origin-padding relative;
        @apply max-lg:px-[30px] max-lg:flex-col max-lg:rounded-[16px];


        .ellipse {
          @apply absolute top-[-60px] left-[-400px] w-full h-full rounded-full transform translate-z-0 blur-[250px] pointer-events-none;
          @apply max-sm:top-1/2 max-sm:left-1/2 max-sm:w-full max-sm:h-full max-sm:transform max-sm:translate-z-0 max-sm:-translate-x-1/2 max-sm:-translate-y-1/2 max-sm:blur-[150px];
        }

        &:first-of-type {
          .ellipse {
            @apply bg-[#9391FC] opacity-[30%];
          }
        }

        &:nth-of-type(2) {
          .ellipse {
            @apply bg-[#4A1DFF] opacity-20;
          }

        }

        &:nth-of-type(3) {
          @apply border-[#FFCE0033];
          .ellipse {
            @apply bg-[#FFCE00] opacity-20;
          }
        }

        &:nth-of-type(4) {
          .ellipse {
            @apply bg-[#9391FC] opacity-30;
          }
        }

        .icon {
          @apply max-w-[550px] mr-[100px] h-full;
          @apply max-lg:order-2 max-lg:mr-0 max-lg:flex max-lg:justify-end;
          img {
            @apply max-lg:object-right max-lg:w-[90%];
          }

        }

        .right {
          @apply py-[20px] xl:min-w-[50%] lg:min-w-[60%] flex-1 flex flex-col items-start pr-[120px];
          @apply max-lg:pr-0 max-lg:pb-[20px];
          .mission-title {
            @apply text-left text-[40px] leading-[110%] tracking-[-1px] font-medium mb-[30px];
            @apply max-sm:text-[24px] max-sm:pt-[40px] max-sm:mb-[12px];
          }

          .mission-desc {
            @apply text-left text-[14px] tracking-[-0.17px];
          }

          .our-mission-desc {
            > div {
              &:first-of-type {
                @apply mb-[10px];
              }

              &.bold {
                @apply font-bold mb-[4px];
              }

              &.list {
                @apply flex flex-col gap-[4px];
                > div {
                  @apply pl-[20px] flex items-center gap-[10px] relative;
                  &:before {
                    content: '•';
                    @apply absolute top-[-2px] left-0;
                    @apply text-primary;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  .community-panel {
    @apply w-full flex flex-col items-center overflow-hidden relative;
    background: linear-gradient(203deg, #DEE7FF -37.77%, rgba(232, 224, 255, 0.00) 60%, #DEE7FF 194.76%);

    .ellipse {
      @apply transform translate-z-0;
      @apply absolute right-0 bg-[#E9E5FF] opacity-40 top-0 w-[50%] h-[100%] rounded-[100%] blur-[250px] pointer-events-none max-sm:transform max-sm:translate-z-0;

    }

    .title {
      @apply w-full pt-[240px] z-10 tracking-[-4px] text-[74px] leading-[105%] font-medium mx-[40px] pb-[160px] text-center relative max-w-[1024px];
      @apply max-sm:text-[32px] max-sm:leading-[115%] max-sm:tracking-[-0.96px] max-sm:w-full max-sm:mx-[20px] max-sm:pt-[80px] max-sm:pb-[60px];

    }

    .numbers {
      @apply flex flex-row gap-[120px] items-center justify-center mb-[300px];
      @apply max-sm:flex-col max-sm:gap-[80px] max-sm:mb-[120px];
      .number-item {
        @apply flex flex-col gap-[16px] items-center;
        .value {
          @apply text-[120px] font-medium leading-[120%] tracking-[-4px] mb-[10px] relative;
          @apply max-sm:text-[100px] max-sm:leading-[120%] max-sm:tracking-[-5px] max-sm:mb-[20px];
          .plus-icon {
            @apply absolute right-[-55px] text-primary w-[40px] h-[40px] top-[20px];
          }
        }

        .link {
          @apply flex items-center gap-[10px] text-primary underline font-medium text-base;
        }
      }
    }


  }

  .our-values-panel {
    @apply bg-transparent w-full flex flex-col items-center overflow-hidden pb-[220px];
    @apply max-sm:pb-[40px];

    .title {
      @apply z-10 tracking-[-4px] text-[74px] leading-[105%] font-medium mt-[260px] text-center relative mb-[100px];
      @apply max-sm:text-[32px] max-sm:leading-[115%] max-sm:tracking-[-0.96px] max-sm:mt-[80px] max-sm:mb-[40px];
      .line {
        @apply absolute w-[250px] h-[16px] left-1/2 -translate-x-[50px] top-[79px];
        @apply max-sm:w-[113px] max-sm:left-[100px] max-sm:top-[32px];
      }
    }

    .values {
      @apply flex flex-col gap-[20px] w-full px-[100px];
      @apply max-md:px-[20px];
      .value-item {
        @apply rounded-[18px] border bg-white p-[40px] flex flex-col relative overflow-hidden;
        @apply max-sm:p-[30px] max-sm:rounded-[16px];

        .ellipse {
          @apply transform translate-z-0 absolute bottom-0 left-0 w-[90%] h-[200%] rounded-[100%] blur-[250px] pointer-events-none;
          @apply max-sm:top-0 max-sm:transform max-sm:translate-z-0 max-sm:-translate-y-1/2 max-sm:left-0 max-sm:-translate-x-1/4 max-sm:w-[200%] max-sm:h-full;
        }

        &:first-of-type {
          @apply border-primary-20;
          .ellipse {
            @apply bg-[#4A1DFF] opacity-[10%];
          }
        }

        &:nth-of-type(2) {
          border-color: rgba(213, 215, 222, 0.60);

          .ellipse {
            @apply bg-[#BBB] opacity-[30%];
          }
        }

        &:nth-of-type(3) {
          border-color: rgba(255, 206, 0, 0.30);

          .ellipse {
            @apply bg-[#FFCE00] opacity-[30%];
          }
        }

        &:nth-of-type(4) {
          border-color: rgba(251, 0, 109, 0.30);

          .ellipse {
            @apply bg-[#FB006D] opacity-[40%];
          }
        }

        &:nth-of-type(5) {
          border-color: rgba(0, 181, 255, 0.30);

          .ellipse {
            @apply bg-[#00B5FF] opacity-[40%];
          }

        }

        > .header {
          @apply flex cursor-pointer justify-between max-sm:flex-wrap items-center;
        }

        .header-key {
          @apply w-[200px] text-[74px] font-medium leading-[96px];
        }

        .header-title {
          @apply mr-6 min-w-[300px] flex flex-1 flex-col justify-center lg:text-[40px] font-medium leading-[44px] max-sm:text-[24px] max-md:mt-4 sm:text-[36px] max-sm:leading-[26px];
          @apply max-sm:order-2;
        }

        .expand-icon {
          @apply w-[20px] h-[20px];
        }

        .check-icon {
          @apply w-[16px] h-[16px] leading-[1.5em] absolute top-[4px];
        }

        .value-desc-item {
          @apply flex w-full mb-2 md:px-2 relative;
          .item-text {
            @apply ml-[30px];
          }
        }
      }
    }

  }

  .our-investors {
    @apply w-full flex flex-col items-center overflow-hidden pt-[100px] pb-[220px];
    @apply max-sm:pt-[40px] max-sm:pb-[120px];

    .title {
      @apply z-10 tracking-[-4px] text-[74px] leading-[105%] font-medium text-black dark:text-white text-center relative mb-[50px];
      @apply max-sm:text-[32px] max-sm:leading-[115%] max-sm:tracking-[-0.96px] max-sm:mb-[20px];
      .line {
        @apply absolute w-[380px] h-[20px] left-1/2 -translate-x-[100px] top-[79px];
        @apply max-sm:w-[153px] max-sm:left-[160px] max-sm:top-[32px];
      }
    }

    .investors {
      @apply flex flex-wrap mx-[1%] max-md:ml-[5%] md:ml-[8%] lg:ml-[12%] xl:ml-[10%] lg:items-center;
      @apply md:items-start;
      .investor-item {
        @apply flex;
        @apply w-1/2 md:w-1/3 xl:w-1/4 mt-[50px] pr-[30px];
        @apply max-sm:pr-0 max-sm:mt-[30px];
        &:nth-child(2n) {
          @apply max-md:pr-0;
        }
      }

      .investor-item-child {
        @apply flex flex-col items-start justify-start md:min-w-[280px];
        @apply max-sm:w-full;
      }

      .investor-item-name {
        @apply mb-2 text-left 2xl:text-[30px] font-medium leading-[33px] max-sm:text-base;
        @apply xl:text-[26px] md:text-[18px];
      }

      .investor-item-desc {
        @apply max-sm:text-[12px];
      }
    }
  }
}
