
.appflowy-app {
  @apply flex flex-col w-full overflow-x-hidden;

}

.absolute-image {
  @apply absolute left-0 top-0 flex h-full w-full justify-center;
  &.dark-image {
    @apply hidden;
  }
}

.appflowy-header {
  position: fixed;
  top: 0;
  z-index: 100;
  @apply w-full;

}

.appflowy-footer {
  @apply bg-black text-white overflow-hidden;
  @apply w-full h-[500px] flex pt-[100px] px-[100px] pb-[30px] flex-col;
  @apply max-lg:h-[auto];
  @apply max-lg:pt-[60px] max-lg:pb-[30px] max-lg:px-[20px];
  .logo {
    @apply w-[264px] h-[250px] flex flex-col justify-between;
    @apply max-lg:w-full max-lg:h-[auto] max-lg:mb-[80px];
    .image {
      @apply max-lg:w-[148px];
    }

    .links {
      @apply flex justify-between;
      @apply max-lg:hidden;
    }
  }

  .menu {
    @apply flex flex-1 justify-end text-white xl:gap-[80px] xl:pl-[80px];
    @apply max-lg:justify-between max-lg:flex-wrap max-lg:mb-[80px];
    > .item {
      @apply flex flex-col last:mr-0;
      @apply max-lg:mr-0 max-lg:w-[50%] max-lg:mb-[60px] max-lg:last:mb-0;
      .group-name {
        @apply mb-6 text-[17px] font-semibold leading-[21px];
      }

      .group-item {
        @apply flex flex-col mb-4 leading-[21px] last:mb-0 hover:underline;
        @apply max-lg:text-[#BBB];

      }
    }
  }

  .top {
    @apply flex;
    @apply max-lg:flex-col;
    > .links {
      @apply hidden max-lg:flex w-full gap-[28px];
    }
  }


  .bottom {
    @apply mt-[30px] pt-[30px] border-t w-full h-[88px] flex justify-between items-center;

    border-color: rgba(239, 241, 248, 0.2);

    .need-help {
      @apply text-sm;
      color: rgba(255, 255, 255, 0.50);
    }
  }
}

.appflowy-navbar {
  @apply h-[68px] w-full;
  @apply max-lg:h-[80px];
  @apply flex items-center;
  @apply px-[28px];
  @apply max-lg:justify-between;

}

.appflowy-drawer-nav {
  @apply flex flex-col;
  > .header {
    @apply flex justify-between items-center p-[20px];
  }

  > .content {
    @apply p-[20px] flex flex-col items-center;
  }
}

.appflowy-navbar, .appflowy-drawer-nav {
  .logo-wrapper {
    @apply w-[258px] flex;
  }

  .logo {
    @apply w-[141px] h-[28px];
    @apply max-lg:w-[116px] max-lg:h-[26px];
  }
}

.divider {
  background: rgba(147, 39, 255, 0.10);
  @apply w-full h-[1px];
}

.appflowy-navbar.sticky {
  box-shadow: 0 6px 9px rgba(134, 141, 159, 0.05);
  @apply bg-white;

}


.appflowy-content {
  @apply w-full;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

.navigation {
  @apply max-lg:hidden lg:flex;
  @apply flex-row flex-nowrap overflow-hidden items-center justify-center flex-1;
  @apply px-5;
}

.navbar-btn-download {
  @apply max-lg:hidden ml-[10px];
}

.navigation-item {
  @apply flex items-center justify-center;
  @apply p-3 mx-2 text-[15px];
  &:hover, &:active {
    color: var(--color-primary);
  }
}

.navbar-right {
  @apply flex flex-row items-center justify-end;
}

.arrow-badge {
  position: relative;
  display: inline-block;
  padding: 2px 6px;
  @apply bg-black text-white;

  border-radius: 0.45rem;
  font-size: 12px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    border-width: 3px;
    border-style: solid;
    @apply border-black;

  }
}

.popover-paper {
  @apply pointer-events-auto bg-white overflow-hidden;

  border-radius: 26px !important;
  box-shadow: none !important;
  border: 1px solid var(--color-primary-20) !important;
}

.menu-popover-content {
  @apply p-[28px] flex flex-row;
  .group {
    @apply pr-[36px] flex flex-col;

    &:last-child {
      @apply pr-0;
    }

    .name {
      @apply font-bold text-[15px] mb-[10px] px-[10px];
    }

    .group-item {
      @apply flex flex-row mb-[10px] last:mb-0 items-start cursor-pointer p-[10px] hover:rounded-[20px];
      @apply hover:bg-light-blue-gray;


      .item-content {
        @apply flex flex-col ml-[10px] max-w-[200px];
        .item-desc {
          @apply text-sm text-gray-400;
        }
      }

      .group-item-image {
        @apply rounded-[16px] border border-primary-10 w-[98px] h-[68px] overflow-hidden aspect-auto;

        > img {
          @apply w-full h-full object-cover;
        }
      }
    }
  }
}

.banner {
  @apply transform translate-z-0 bg-primary flex items-center justify-center text-sm text-white;
  @apply text-[12px];
  .learn-more-link {
    @apply mr-1 flex cursor-pointer items-center font-medium;
  }
}


.blur-bottom {
  @apply absolute bottom-0 h-[227px] w-full;
  background: linear-gradient(179.87deg, rgba(244, 245, 253, 0) 0.12%, #F4F5FD 99.88%);
}


.mobile-images {
  @apply relative w-full min-h-screen mt-[148px] mb-[234px];
  @apply max-sm:mt-[67px] max-sm:h-[1180px] max-sm:mb-[20px];
  > .image {
    @apply transform translate-z-0 absolute aspect-auto;

    &:first-of-type {
      @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
      @apply max-sm:translate-y-[-300px];
    }

    &:nth-of-type(2) {
      @apply sm:left-1/2 sm:top-1/2 sm:-translate-x-[200%] sm:-translate-y-[100%];
      @apply max-sm:left-[40px] max-sm:top-[20px] max-sm:w-[136px];
    }

    &:nth-of-type(3) {
      @apply sm:left-1/2 sm:top-1/2 sm:-translate-x-[200%] sm:translate-y-[30%];
      @apply max-sm:left-[250px] max-sm:w-[210px] max-sm:top-[100px];
    }

    &:nth-of-type(4) {
      @apply sm:left-1/2 sm:top-1/2 sm:translate-x-[80%] sm:-translate-y-[320%];
      @apply max-sm:left-[50px] max-sm:top-[720px] max-sm:w-[189px];
    }

    &:nth-of-type(5) {
      @apply sm:left-1/2 sm:top-1/2 sm:translate-x-[100%] sm:-translate-y-[50%];
      @apply max-sm:top-[820px] max-sm:w-[226px] max-sm:right-[-80px];
    }

    &:nth-of-type(6) {
      @apply sm:left-1/2 sm:top-1/2 sm:translate-x-[100%] sm:translate-y-[60%];
      @apply max-sm:w-[160px] max-sm:top-[920px] max-sm:left-[20px];
    }
  }
}

.over-title {
  @apply relative w-full flex items-center justify-center;

  .title-text {
    @apply leading-[99.5%] tracking-normal whitespace-nowrap lowercase;
    @apply md:text-[18vw] 2xl:text-[300px];
    @apply max-md:text-[90px];
  }

  .icons {
    @apply absolute left-0 top-0 h-full w-full;
    .icon {
      @apply absolute;
      &.icon-1 {
        @apply left-[122px] top-[106px];
        @apply max-md:w-[78px] max-md:h-[83px] max-md:left-[20px] max-md:top-[0px] max-lg:left-[10px];
      }

      &.icon-2 {
        @apply left-1/2 -top-1/2;
        @apply max-md:w-[75px] max-md:h-[83px] max-md:left-1/2 max-md:transform max-md:translate-z-0 max-md:-translate-x-1/2 max-md:top-[-50px];
      }

      &.icon-3 {
        @apply right-[129px] bottom-[-60px];
        @apply max-md:w-[76px] max-md:right-[30px] max-md:bottom-[-30px] max-lg:right-[10px];
      }
    }
  }


}

.privacy-policy, .terms {
  @apply w-full min-h-screen flex justify-center mt-[150px] max-sm:mt-[80px] md:px-[60px] overflow-hidden h-full px-[20px] lg:px-[160px];
  overflow: hidden;
  word-wrap: break-word;

  > div {
    @apply w-full;
  }

  h1 {
    font-feature-settings: 'ss02' on;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.96px;
    margin: 60px 0;
  }

  p {
    font-size: 16px;
    margin-bottom: 14px;
  }

  a {
    @apply text-primary underline;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  li {
    margin-bottom: 14px;
  }

}


.primary-word {
  @apply relative;
  .primary-line {
    @apply absolute bottom-[-4px] left-0 w-full text-primary;
  }

  .primary-circle {
    @apply absolute top-[-20px] left-[-20px] w-[140%] h-[140%] text-primary;
    @apply max-sm:top-[-10px] max-sm:left-[-10px];
    > svg {
      @apply absolute;
    }
  }

  .primary-star {
    @apply text-primary absolute -right-[28px] top-0 w-[28px] h-[39px];
    @apply max-sm:w-[20px] max-sm:h-[28px];
  }
}

.no-wrap {
  white-space: nowrap;

}

.download-message {
  @apply absolute top-0 left-0 w-full h-full flex items-center justify-center;
  z-index: 1099;

  .download-alert {
    @apply mx-[20px] bg-[#EEF1FF] rounded-[12px] text-primary border border-primary-10;
    .MuiSvgIcon-root {
      @apply text-primary;
    }
  }
}