.github-btn, .github-btn[type='button'] {
  @apply flex w-[124px] rounded-[14px] h-[48px] items-center justify-center border border-light-gray;
  @apply text-[14px] max-lg:rounded-[12px];
  @apply max-sm:text-[12px];
  @apply bg-white/40 hover:bg-gray-40 active:bg-light-gray-40 disabled:bg-white/40 disabled:opacity-[30%];
}


.download-btn, .download-btn[type='button'], .download-btn[type='reset'], .download-btn[type='submit'] {
  gap: 10px;
  border-radius: 20px;
  padding: 17px 40px;
  @apply flex items-center justify-center rounded-[18px] text-white border;
  @apply max-lg:text-base max-lg:px-[26px] max-lg:leading-[100%];
  background: var(--color-primary);
  border-color: rgba(255, 255, 255, 0.20);

  &.download-free-btn {
    border-radius: 14px;
    @apply w-[124px] h-[48px] text-[14px] p-0;
  }

  &:hover {
    background: #A952FF;
  }

  &:active, &.active {
    background: #7D26DE;
  }

  &:disabled, &.disabled {
    background: #7D26DE;
    pointer-events: none;
    opacity: 0.3;
  }
}


.live-demo-btn, .live-demo-btn[type='button'] {
  padding: 19px 40px 21px 40px;
  @apply text-primary flex justify-center items-center rounded-[20px] gap-[10px] border border-primary;
  &:hover {
    border-color: #A952FF;
    color: #A952FF;
  }

  &:active {
    border-color: #7D26DE;
    color: #7D26DE;
  }

  &:disabled {
    border-color: #7D26DE;
    color: #7D26DE;
    opacity: 0.3;
  }
}

.trigger-btn {
  @apply text-black text-[18px] lg:hidden max-lg:flex ml-[20px];
}

#body .dropdown-btn {
  @apply flex rounded-[16px] overflow-hidden items-center;
  background: var(--color-primary);

  &__title {
    @apply rounded-none pl-6 pr-3 border-0 cursor-pointer;
  }

  &__file-extension {
    @apply rounded-none pr-3 pl-3 border-0 cursor-pointer h-full;
    @apply flex;
  }

  &__divider {
    @apply w-[1px] bg-[#A952FF] h-[16px];
  }

  &__expand-icon {
    @apply w-[16px] h-[16px] flex items-center transform translate-z-0 transition-all;
  }

  &__popover-paper {
    border-radius: 14px !important;
    box-shadow: none !important;
    border: 1px solid var(--color-primary-20) !important;
    padding: 10px;
  }

  &__extension-options {
    @apply py-0 gap-[4px] flex flex-col;
  }

  &__extension-option {
    @apply p-3 rounded-[14px];
    &:hover {
      @apply bg-light-blue-gray;
    }

    &.Mui-selected, &.Mui-selected:hover {
      @apply bg-light-blue-gray;
    }
  }

  &.disabled {
    pointer-events: none;
    background: #7D26DE;
    opacity: 0.3;
  }
}

.cancel-btn, .cancel-btn[type='button'] {
  border: 1px solid;
  text-transform: none;
  @apply border-[var(--color-primary)] max-sm:border-none px-6 py-[11px] dark:hover:bg-primary-20 hover:bg-light-blue-gray rounded-xl text-[var(--color-primary)];
  @apply dark:border-[#773BB9] dark:text-[#AE65FF];
  @apply max-sm:px-0 max-sm:bg-transparent max-sm:hover:bg-transparent max-sm:dark:hover:bg-transparent;
}

.ok-btn, .ok-btn[type='button'] {
  border: 1px solid;
  text-transform: none;
  white-space: nowrap;
  @apply max-sm:ml-0;
  @apply border-[var(--color-primary)] px-6 bg-primary py-[11px] hover:bg-[#A952FF] rounded-xl text-white;
}