.github-btn {
  @apply flex p-4 rounded-[18px] items-center justify-between border border-light-gray;
  @apply max-sm:text-[12px] max-sm:rounded-[12px] max-sm:p-[10px];
  @apply bg-white/40 hover:bg-gray-40 active:bg-light-gray-40 disabled:bg-white/40 disabled:opacity-[30%];
  @apply dark:border-gray-15 dark:bg-gray-10 dark:hover:bg-gray-03 dark:active:bg-gray-15;
}


.download-btn, .download-btn[type='button'], .download-btn[type='reset'], .download-btn[type='submit'] {
  gap: 10px;
  border-radius: 20px;
  padding: 19px 40px 21px 40px;
  @apply flex items-center justify-center rounded-[18px] text-white border;
  @apply max-sm:text-base max-sm:px-[26px] max-sm:py-[22px] max-sm:leading-[100%];
  background: var(--color-primary);
  border-color: rgba(255, 255, 255, 0.20);

  &.download-free-btn {
    border-radius: 18px;
    padding: 15px 24px;
  }

  &:hover {
    background: #A952FF;
  }

  &:active {
    background: #7D26DE;
  }

  &:disabled {
    background: #7D26DE;
    opacity: 0.3;
  }
}

[data-mode="dark"] .download-btn {
  border-color: rgba(0, 0, 0, 0.20);

  &:hover {
    background: #7033B2;
  }

  &:active {
    background: #571A99;
  }

  &:disabled {
    background: #571A99;
    opacity: 0.3;
  }
}

.live-demo-btn {
  padding: 19px 40px 21px 40px;
  @apply text-primary flex justify-center items-center rounded-[20px] gap-[10px] border border-primary;
  &:hover {
    border-color: #A952FF;
    color: #A952FF;
  }

  &:active {
    border-color: #7D26DE;
    color: #7D26DE;
  }

  &:disabled {
    border-color: #7D26DE;
    color: #7D26DE;
    opacity: 0.3;
  }
}

.trigger-btn {
  @apply text-black text-[18px] md:hidden ml-[20px];
  @apply dark:text-white;
}