
.contact-page, .subscribe-newsletter-page {
  transform: translateZ(0);
  background: linear-gradient(201deg, #EDECFC -1.12%, #EFF1FF 33.09%, #EEECFD 45.19%, #FAFAFF 68.66%, #FDFCFF 76.51%, #FFF 91.89%);
  @apply flex w-full flex-col items-center pt-[220px] pb-[184px] relative;
  @apply max-sm:pt-[169px] max-sm:pb-[60px];
  .title {
    @apply z-10 tracking-[-4px] text-[74px] leading-[105%] px-[30px] font-medium  text-center relative mb-[30px];
    @apply max-sm:text-[32px] max-sm:leading-[115%] max-sm:tracking-[-0.96px] max-sm:px-[34px] max-sm:mb-[14px];
    .line {
      @apply absolute top-[79px] left-0 w-[315px] h-[40px];
      @apply max-sm:top-[32px] max-sm:left-[20px] max-sm:w-[140px] max-sm:h-[20px];
    }

  }

  .desc {
    @apply max-w-[420px] text-center mb-[100px] whitespace-pre-line;
    @apply max-sm:w-full max-sm:mb-[80px] max-sm:px-[50px];
    .link {
      @apply underline whitespace-nowrap text-primary cursor-pointer;
    }
  }

  .icon {
    @apply absolute;
    &.icon-1 {
      @apply md:bottom-[100px] md:left-[14%] w-[110px] h-[156px];
      @apply max-md:w-[50px] max-md:h-[60px] max-md:left-[30px] max-md:top-[320px];
    }

    &.icon-2 {
      @apply md:top-[470px] md:right-[290px] w-[38px] h-[54px];
      @apply max-md:w-[21px] max-md:h-[30px] max-md:right-[30px] max-md:top-[320px];
    }
  }

}

.subscribe-newsletter-page {
  .icon.icon-1 {
    @apply top-[15%] max-sm:top-[18%];
  }

  .icon.icon-2 {
    @apply max-sm:top-[38%];
  }

  .desc {
    @apply mb-[60px] max-sm:mb-[20px];
  }

  .download-btn {
    @apply rounded-md;
  }


}

#contact-form, #subscribe-newsletter-form {
  @apply flex flex-col gap-[20px] items-center max-w-screen-md w-full px-[30px] relative;
  @apply max-sm:gap-[10px] max-sm:px-[20px];
  .form-group {
    @apply relative flex flex-col w-full;
    .form-input {
      @apply flex relative w-full p-[30px] rounded-[20px] border border-primary-10 bg-white items-center;
      @apply max-sm:p-[20px] max-sm:rounded-[12px];

      input, textarea {
        @apply w-full outline-none text-[18px] leading-normal;
        @apply max-sm:text-base;
        background: transparent !important;
        outline: none;
      }

      .required {
        @apply absolute right-[30px] flex h-full top-[38px];
        @apply max-sm:top-[26px];
      }
    }

  }

  .error {
    @apply text-red-500 text-[14px] mt-[10px] px-8;
  }

  .download-btn {
    @apply w-full max-sm:mt-[10px];
  }
}

#subscribe-newsletter-form {
  @apply min-h-[80px];
  .form-group {
    @apply flex-1;
    @apply max-sm:w-full;
    .form-input {
      @apply h-[57px] rounded-md;
    }
  }

  .download-btn {
    @apply w-[160px];
    @apply max-sm:w-full max-sm:mt-0;
  }
}

.contact-message-content {
  @apply flex rounded-[18px] border border-primary-20 bg-white p-10 gap-[15px] w-[486px];
  @apply max-sm:w-full max-sm:flex-col max-sm:items-center max-sm:rounded-[16px] max-sm:gap-[20px] max-sm:mx-[40px] max-sm:mb-[60px];

  > .contact-message-icon {
    @apply w-10 h-10;
  }

  > .contact-message-text {
    @apply flex flex-col flex-1 gap-[14px];
    @apply max-sm:items-center;
    > .contact-message-title {
      @apply text-[40px] font-medium leading-[100%] tracking-normal;
      @apply max-sm:text-center;
    }

    > .contact-message-desc {
      @apply text-base whitespace-break-spaces;
      @apply max-sm:text-center;
    }

  }
}
