[data-mode='dark'] .download-page {
  background: var(--color-night-blue);
}

.download-page {
  @apply flex w-full flex-col items-center pt-[220px];
  @apply max-sm:pt-[169px];
  background: linear-gradient(192deg, #EDECFC -21.69%, #F3F7FE 16.86%, #F8F9FF 30.5%, #FAFAFF 56.96%, #F5F2FF 74.04%, #FFF 83.14%);

  > .title, > .download-mobile .title, > .across .title {
    @apply z-10 tracking-[-4px] text-[80px] leading-[115%] px-[30px] font-medium text-black dark:text-white mb-[80px] text-center relative;
    @apply max-sm:text-[32px] max-sm:leading-[115%] max-sm:tracking-[-0.96px] max-sm:w-[308px] max-sm:text-center max-sm:mb-[30px];
    .line {
      @apply absolute left-0 bottom-[-20px] w-[357px] h-[15px];
      @apply max-sm:left-[60px] max-sm:w-[150px] max-sm:h-[15px] max-sm:bottom-[25px] max-sm:rotate-[-2deg];
    }

    &.mobile-title {
      @apply w-[640px] mb-[10px];
      @apply max-sm:w-[295px];
      .line {
        @apply absolute left-[80px] top-[79px] w-[341px] h-[25px];
        @apply max-sm:w-[136px] max-sm:h-[10px] max-sm:left-[60px] max-sm:top-[30px];
      }

    }
  }

  .desc {
    @apply dark:text-gray-400;
  }

  @media not all and (min-width: 640px) {
    > .download-mobile {
      background: linear-gradient(201deg, #EDECFC -1.12%, #EFF1FF 33.09%, #EEECFD 45.19%, #FAFAFF 68.66%, #FDFCFF 76.51%, #FFF 91.89%);

    }
  }

  .download-mobile {
    @apply flex flex-col w-full items-center;
    @apply max-sm:pt-[60px] max-sm:pb-[60px];
    .desc {
      @apply text-base;
      @apply mb-[50px];
      @apply max-sm:mb-[40px];
    }

    > .btn-group {
      @apply flex gap-[20px] items-center justify-center w-full mb-[110px];
      @apply max-sm:mb-[65px];
      > .download-btn {
        @apply max-sm:h-[56px];
      }
    }

    > .image {
      @apply mb-[316px] relative;
      @apply max-sm:mb-[140px] max-sm:mx-[30px];
    }


    > .notes-tasks-projects {
      @apply relative mb-[200px] mx-0;
      @apply max-sm:mb-[60px] max-sm:mx-0;
    }
  }


  .download {
    @apply mt-[20px] mb-[126px];
    @apply max-sm:mt-0 max-sm:mb-[60px];
    > .desc {
      @apply mt-[20px] text-center text-sm;
      @apply max-sm:mt-[15px];
    }

    .btn-group {
      @apply flex gap-[20px];
    }
  }

  > .image {
    @apply mb-[300px] relative;
    @apply max-sm:mb-[80px];
  }

  .across {
    @apply flex flex-col items-center w-full;
    @apply max-sm:bg-white dark:max-sm:bg-night-blue;
    .across-title {
      @apply w-[700px] mb-[100px];
      @apply max-sm:w-[300px] max-sm:mb-[40px];
      .line {
        @apply absolute w-[276px] h-[19px] bottom-0 left-[300px];
        @apply max-sm:w-[113px] max-sm:left-[120px] max-sm:bottom-[-10px];
      }

      .icon {
        @apply absolute top-[-40px] right-[40px] w-[40px] h-[56px];
        @apply max-sm:w-[24px] max-sm:h-[28px] max-sm:top-[-20px] max-sm:right-[20px];
      }
    }

    .across-download {
      @apply flex gap-[30px] w-full justify-center mb-[220px];
      @apply max-sm:flex-col max-sm:gap-[20px] max-sm:px-[20px] max-sm:mb-[48px];
      .across-download-item {
        @apply flex flex-col rounded-[30px] border border-primary-10 bg-white overflow-hidden relative p-[60px];
        @apply max-sm:px-[30px] max-sm:pt-[40px] max-sm:pb-[20px];
        @apply dark:bg-dark-card;


        .bg {
          @apply absolute -top-1/2 -left-1/2 w-[500px] h-[400px] bg-[#4A1DFF] opacity-20 blur-[250px] rounded-[554px] pointer-events-none;
          @apply dark:bg-[#8A5EB7];
        }

        .across-download-item-icon {
          @apply mb-[30px];
        }

        .across-download-item-title {
          @apply text-[40px] font-medium leading-[110%] mt-[10px] tracking-[-1.6px] mb-[120px];
          @apply max-sm:text-[24px] max-sm:mb-[50px];
        }

        .across-download-item-btns {
          @apply flex flex-col w-full flex-1 items-center justify-end gap-[20px];
          @apply max-sm:gap-[10px];
          > button {
            @apply w-full;
          }
        }
      }
    }

  }

}

[data-mode='dark'] .download-mobile {
  background: var(--color-night-blue);
}