.vs-notion-page {
  @apply min-h-screen w-screen bg-white;

  font-family: 'Inter', sans-serif;

  .af-container {
    @apply flex w-full justify-center;
  }

  .af-box {
    @apply w-[1440px] min-w-0 max-w-full px-[100px];
    @apply max-xl:px-[4vw];
  }

  .section-1 {
    @apply relative flex w-full flex-col items-center gap-8 overflow-hidden pb-[110px] pt-[150px];
    @apply max-md:gap-6 max-md:pb-[70px] max-md:pt-[120px];
    .main-content {
      @apply relative z-[1] flex max-w-[900px] flex-col items-center gap-5 text-center;
      @apply max-md:gap-4 max-md:px-[5vw];
      h1 {
        @apply whitespace-pre-wrap break-words font-medium text-[#101012];
      }

      .desc {
        @apply max-w-full font-medium text-[#58585A];
      }
    }
  }

  .section-2 {
    @apply flex w-full flex-col items-center justify-center gap-[70px] bg-[#F9F9FC] py-[150px];
    @apply max-md:min-h-fit max-md:py-[14vh];
    &-title {
      @apply w-full min-w-0 max-w-[1100px] whitespace-pre-wrap text-center text-[58px] font-medium leading-[115%] tracking-[-1.16px];
      @apply max-lg:text-[7vw] max-md:px-[5vw] max-md:leading-[120%];
    }
  }

  .section-8 {
    background: white;

    &-title {
      z-index: 1;

      h2 {
        letter-spacing: -0.04em;
      }
    }

    .section-8-logo {
      border-color: rgba(0, 0, 0, 0.08);
    }

    .section-8-desc {
      z-index: 1;
      letter-spacing: -0.02em;
    }

    .circle-gradient {
      height: 200px;
      width: 500px;
      border-radius: 50%;
      position: absolute;
      bottom: 0vh;
      left: 50%;
      transform: translateX(-50%);
      background: radial-gradient(circle, rgba(138, 44, 231, 0.4) 0%, rgba(138, 44, 231, 0) 100%);
      filter: blur(150px);
      pointer-events: none;
      z-index: 0;
    }

    &-image {
      z-index: 1;
      @apply overflow-hidden p-[6px];
      img {
        @apply rounded-[14px];
      }

      border-radius: 14px;
      background: rgba(255, 255, 255, 0.16);
    }
  }
}
