.vs-notion-page {
  @apply min-h-screen w-screen bg-white;

  font-family: 'Inter', sans-serif;

  .af-container {
    @apply flex w-full justify-center;
  }

  .af-box {
    @apply w-[1440px] min-w-0 max-w-full px-[100px];
    @apply max-xl:px-[4vw];
  }

  .section-1 {
    @apply flex w-full flex-col items-center gap-6 bg-white pb-[110px] pt-[196px];
    @apply max-md:pb-[70px] max-md:pt-[25vh] max-sm:pt-[20vh];

    .main-content {
      @apply flex max-w-[1100px] flex-col items-center gap-6 text-center;
      @apply max-md:gap-4 max-md:px-[5vw];

      .desc {
        @apply max-w-full text-[24px] font-medium leading-[160%];
        @apply max-md:text-base max-md:leading-[150%];
      }
    }
  }

  .section-2 {
    @apply relative isolate flex w-full flex-col items-center justify-center gap-10 overflow-hidden py-[120px];
    @apply max-md:min-h-fit max-md:py-[10vh];

    .section-2-blobs {
      @apply pointer-events-none absolute inset-0 top-[20vh] z-[-1] flex w-full items-center justify-between max-md:flex-col;
    }

    .section-2-blob {
      --blob-sz: clamp(360px, 45vw, 600px);
      height: var(--blob-sz);
      width: var(--blob-sz);
      border-radius: 50%;
      filter: blur(600px);
      opacity: 0.3;
    }

    .section-2-blob-1 {
      background: #d0c4ff;
    }

    .section-2-blob-2 {
      background: #9cbdff;
    }

    .section-2-blob-3 {
      background: #d0c4ff;
    }
  }
}
